.character-card {
	display: block;
	width: 100%;
	aspect-ratio: 1/1;
	object-fit: cover;
	cursor: pointer;
	user-select: none;
	perspective: 1000px;
}

.character-card__inner {
	width: 100%;
	height: 100%;
	/* position: relative; */
	transition: transform 0.5s;
	transform-style: preserve-3d;
}
.character-card--flipped .character-card__inner {
	transform: rotateY(180deg);
}

.character-card__front,
.character-card__back {
	width: 100%;
	height: 100%;
	position: absolute;
	-webkit-backface-visibility: hidden; /* Safari */
	backface-visibility: hidden;
}

.character-card__front {
	border-radius: var(--border-radius);
	overflow: clip;
}

.character-card__img {
	display: block;
	width: 100%;
}

.character-card__back {
	padding: 0.5rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	color: white;
	background-color: var(--color-4);
	background-image: linear-gradient(
		-19deg,
		var(--color-4) 0%,
		var(--color-3) 100%
	);
	border-radius: var(--border-radius);
	transform: rotateY(180deg);
}

.character-card__name {
	font-size: 1.2rem;
}

.character-card__details-btn {
	font-size: 0.9rem;
}
