.character-detail {
	color: white;
	text-align: center;
}

.character-detail__img {
	width: 100%;
	max-width: 300px;
	display: block;
	margin: 0 auto;
	border-radius: var(--border-radius);
}

.character-detail__list {
	padding-left: 0;
	list-style: none;
}

.character-detail__list-item {
	margin-bottom: 0.2rem;
}

.character-detail__list-item-key {
	font-weight: bold;
	margin-right: 0.2rem;
}
