.characters-page__search-box {
	width: 250px;
	margin: 1rem auto 0 auto;
	text-align: center;
}

.characters-page__load-more-btn {
	display: inline-block;
	margin: 1.5rem auto 0 auto;
	font-size: 1.2rem;
}
