.header {
	margin: 1rem 0 1.5rem 0;
	padding: 1rem 0;
}

.header__logo {
	display: block;
	max-width: 100%;
	margin: 0 auto;
	/* For alt text if the image can't load */
	font-size: 3rem;
	font-weight: 900;
	text-align: center;
}
